@model Catedraticos.Models.CatedraticoModel
 
@{
}

<h1>Módulo - Modificación de Catedraticos</h1>
<hr/>

<div class="row">
    <div class="col-sm-12">
        <form asp-action="EditaCatedratico">
            <input type="hidden" asp-for="CodigoCatedratico" />

            <div class="form-group">
                <label asp-for="NombreCatedratico" class="control-label"></label>
                <input asp-for="NombreCatedratico" class="form-control" />
                <span asp-validation-for="NombreCatedratico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoCatedratico" class="control-label"></label>
                <input asp-for="ApellidoCatedratico" class="form-control" />
                <span asp-validation-for="ApellidoCatedratico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdadCatedratico" class="control-label"></label>
                <input asp-for="EdadCatedratico" class="form-control" />
                <span asp-validation-for="EdadCatedratico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<a asp-action="Index">Regresar</a>